<div class="header">
    <div class="container-header">
    <img src="../../../assets/images/logo-marvel.png">
    </div>
</div>




<div class="seccion-personajes">


    <div class="container-personajes"  *ngFor="let character of allCharacters | async | paginate: { itemsPerPage: 10, currentPage: p } ">
        <img src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}">
        <h3>{{character.name}}</h3>
        <p class="descripcion">{{character.description | slice:0:70}}...</p>
        <div class="comics-relacionados">
            <div  *ngFor="let comic of character.comics.items">
                <a>{{comic.name}}</a>
            </div>
        </div>
        <button (click)="guardarComic(onlyComic.id, onlyComic)"></button>
    </div>

    <div class="favoritos">


        <div class="titulo-favoritos">
            <img src="../../../assets/images/favourites.png">
            <h2>My favourites</h2>  
        </div>
    
    
        <div class="boton-favoritos-seccion">
            <button (click)="randomComics()" class="addrandom">Add random comics</button>
        </div>
    
    
        <div *ngFor="let favorito of favoritos">
                    <div>
                    
                    <button (click)="eliminarFavoritos(favorito.id)"><img src="../../../assets/images/btn-delete.png"></button> 
                    <img class="img-favorita" src="{{favorito.thumbnail.path}}.{{favorito.thumbnail.extension}}">     
                    <p>{{favorito.title}}</p>
           
                 </div>
        </div>
    
    
    </div>
   
    
    

</div>

<div class="pagination">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

