
header {
    background: #2d2727;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
   
   
    
}
.containerheader {
    max-width: 1400px;
    margin: auto;
    display: flex;
    align-items: center;

}




.containerheader img {
width:  150px;
padding: 10px 10px 10px 0px;
}

.titulo-favoritos {
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo-favoritos img {
    width: 40px;
    height: 40px;
    
}
.titulo-favoritos h2 {
    margin-left: 10px;
}

.boton-favoritos-seccion {
    display: flex;
    justify-content: center;
}
.addrandom {
    background: #ec1e23;
    color: white;
    padding: 10px;
    font-weight: 700;
}
.container-header img {
 width: 10%;
 
}
p , a {
    font-weight: 200;
    font-size: 16px;
}

h3 {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
}
.seccion-personajes {
    display: grid;
    grid-template-columns: 80% 20%;
    max-width: 1400px;
    margin: auto;
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    margin-top: 8em;
    
}
.container-personajes img {
    max-width: 100%;
    border-radius: 50%;
    height: 176px;
    width: 176px;
    object-fit: cover;
    
    box-shadow: 0 3px 40px #a7a7a7;
}

.comics-relacionados {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-row-gap: 10px;
}

.img-favorita {
   max-width: 100%;

}



.bloque-personajes {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
}

.lista-comics {
    font-size: 14px;
}
button.eliminar-btn {
    float: right;
    
}

input#search-character {
    border: none;
    font-size: 17px;
    margin-left: 20%;
    padding: 15px;
    

}

@media only screen and (max-width: 768px) {
    

    .bloque-personajes {
        grid-template-columns: 1fr;
        grid-gap: 0;
       
    }
    .seccion-personajes {
        grid-template-columns: 1fr;
        padding: 2em;
    }
    input#search-character {
        margin-left: 0;
    }

}