
.header {
    background: #2d2727;
    height: 80px;
    margin: 0;
    padding: 0;
    display: flex;
    align-self: center;
}

.container-header {
    max-width: 1400px;
    margin: auto;
   
}

.titulo-favoritos {
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo-favoritos img {
    width: 40px;
    height: 40px;
    
}
.titulo-favoritos h2 {
    margin-left: 10px;
}

.boton-favoritos-seccion {
    display: flex;
    justify-content: center;
}
.addrandom {
    background: #ec1e23;
    color: white;
    padding: 10px;
}
.container-header img {
 width: 10%;
 
}
p , a {
    font-weight: 200;
    font-size: 16px;
}

h3 {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
}
.seccion-personajes {
    display: grid;
    grid-template-columns: 30% 30% 40%;
    max-width: 1400px;
    margin: auto;
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    margin-top: 20px;
    
}
.container-personajes img {
    max-width: 100%;
    border-radius: 50%;
    height: 176px;
    width: 176px;
    object-fit: cover;
    
    box-shadow: 0 3px 40px #a7a7a7;
}

.comics-relacionados {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-row-gap: 10px;
}